body {
    text-align: center;
}

#board {
    background-color: rgb(44, 142, 82);
    border-top: 5px solid rgb(10, 108, 10);
    border-bottom: 5px solid rgb(10, 108, 10);
    border-left: 5px solid red;
    border-right: 5px solid red;
}