/* Apply styles to the h1 element */
h1 {
	text-align: center;
	margin-top: 6rem;
}

/* Apply styles to the canvas container */
.canvas-container {
	position: relative;
	text-align: center;
}

/* Apply styles to the canvas element */
#board {
	margin: 1% auto 5% auto;
	padding-left: 0;
	padding-right: 0;
	background-color: rgb(44, 142, 82);
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;
	width: auto;
	height: auto;
}

/* Apply styles to the right player text */
#right-player-text {
	position: fixed;
	top: 39%;
	right: 15rem;
	color: blue;
}

/* Apply styles to the left player text */
#left-player-text {
	position: fixed;
	top: 39%;
	left: 35rem;
	color: orange;
}

/* Apply styles to the top player text */
#top-player-text {
	position: fixed;
	top: 10%;
	left: 50%;
	color: violet;
}

/* Apply styles to the bottom player text */
#bottom-player-text {
	position: fixed;
	top: 100%;
	left: 50%;
	color: darkblue;
}
