.dropdown-menu {
	left: 0px !important;
}

.menu-navigation-grid{
	display: grid !important;grid-template-columns: 130px 220px 150px auto 250px;width: 100%;
}
@media only screen and (max-width: calc(870px + 15rem)) {
    .menu-navigation-grid {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
}

.menu-navigation-grid > div > button{
  display: grid !important;
  grid-template-columns: 20px auto 10px;
  align-items: center;
  width: 100%;
}

.menu-navigation-button{
  display: grid !important;
  grid-template-columns: auto 20px !important;
  width: 100%;
}
.menu-navigation-text{
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	margin: auto;
	width: 100%;
}

/* Animation for the dropdown */
@media (min-width: 768px) {
	.animate {
		animation-duration: 1s;
		animation-fill-mode: both;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0rem);
		opacity: 1;
	}

	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

.slideIn {
	animation-name: slideIn;
}

#topbar {
	background-color: teal;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 10px;
}

#topbar__home:hover {
	background: rgba(255, 255, 255, 0.05);
}

#topbar__logout {
	cursor: pointer;
}

#menu {
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#sidebar__left, #sidebar__right {
	background-color: #6C7878;
}

#footer {
	background-color: teal;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 10px;
}

#form__input--usernameError, #form__input--emailError, #form__input--passwordError {
	font-size: small;
}

#game__historyTwo--holder, #game__historyFour--holder {
	display: flex;
	flex-direction: row;
}

#game__historyTwo--main, #game__historyFour--main {
	overflow-y: scroll;
	height: 400px;
}

.stats__color--title {
	color: rgb(86, 146, 65);
}

.stats__color--stats {
	color: rgb(44, 202, 175);
}

.stats__color--context {
	color: rgb(186, 119, 199);
}

#canvas--text {
	color: black;
}