/* NO TO SCROLLING (ง'̀-'́)ง */
body, html {
	height: 100%;
	overflow: hidden;
}

.navbar {
	min-height: 55px;
}

.dropdown-menu {
	left: unset !important;
	right: 0px !important;
}

#sidebar-left, #sidebar-right {
	width: 230px;
}

#board_two {
	max-width: 650px;
	max-height: 480px;
}

#board_four {
	max-width: 650px;
	max-height: 650px;
}

/* Animation for the dropdown */
@media (min-width: 768px) {
	.animate {
		animation-duration: 0.3s;
		animation-fill-mode: both;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0rem);
		opacity: 1;
	}

	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

.slideIn {
	animation-name: slideIn;
}

.collapse__myStats--color--title {
	color: rgb(86, 146, 65);
}

.collapse__myStats--color--stats {
	color: rgb(44, 202, 175);
}

.collapse__myStats--color--context {
	color: rgb(186, 119, 199);
}