.navbar {
	min-height: 55px;
}

.dropdown-menu {
	left: unset !important;
	right: 0px !important;
}

#sidebar-left, #sidebar-right {
	width: 230px;
}

#board_two {
	max-width: 650px;
	max-height: 480px;
}

/* Animation for the dropdown */
@media (min-width: 768px) {
	.animate {
		animation-duration: 0.3s;
		animation-fill-mode: both;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0rem);
		opacity: 1;
	}

	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

.slideIn {
	animation-name: slideIn;
}

.collapse__myStats--color--title {
	color: rgb(86, 146, 65);
}

.collapse__myStats--color--stats {
	color: rgb(44, 202, 175);
}

.collapse__myStats--color--context {
	color: rgb(186, 119, 199);
}

#game_historyTwoMain {
	overflow-y: auto;
	height: 400px;
}

#game_historyFourMain {
	overflow-y: auto;
	height: 400px;
}

#topbar {
	background-color: #333399;
	margin-left: auto;
	margin-right: auto;
}

#topbar__logout {
	cursor: pointer;
}

#menu {
	vertical-align: middle;
	padding: 5px;
	min-width: 730px;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#menu span:hover {
	text-decoration: underline;
}

#menu__item {
	padding: 1px;
	display: inline;
}